name: Check Type Hinting

on: [push, pull_request]

jobs:
  mypy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2

      - name: Install mypy
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]
          python -m pip list

      - name: Run mypy
        shell: bash -l {0}
        run: mypy --install-types --non-interactive event_model/__init__.py 
